{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
    <h1 align="center"style="color:white;">Auteur</h1>

    <table class="table table-bordered" border="3" align="center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ auteur.id }}</td>
            </tr>
            <tr>
                <th>Nom_prenom</th>
                <td>{{ auteur.nomPrenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ auteur.sexe }}</td>
            </tr>
            <tr>
                <th>Date_de_naissance</th>
                <td>{{ auteur.dateDeNaissance ? auteur.dateDeNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Nationalite</th>
                <td>{{ auteur.nationalite }}</td>
            </tr>
        </tbody>
    </table><br>
    <table align="center" > 
<tr>
    <td>
        <button type="button" class="btn1"><a href="{{ path('auteur_index') }}">back to list</a></button>
        </td>
        {% if is_granted('ROLE_ADMIN') %}
  <td> 
    <button type="button" class="btn2"><a href="{{ path('auteur_edit', {'id': auteur.id}) }}">edit</a></button>
</td> 
<td>

    {{ include('auteur/_delete_form.html.twig') }}
</td>
{% endif  %}
</tr>
</table>
    {% block stylesheet %}
    <style>.table{
        width: 50% ;
        background: #8F94E5 ;
    }
    .btn1{
        width: 150px;
  background: #C1BBBA  ;
  border: 1px solid #C1BBBA ;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
    }
    .btn2{
        width: 150px;
  background: #ED8E06  ;
  border: 1px solid #ED8E06 ;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
    }
    body{
        background-image: url("../image/bg.jpg");
    }
    </style>
    
    {% endblock %}
{% endblock %}
